    <div class="container" ng-controller="usuariosController as userVm">
      <div class="row">
        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-6">
              <h1>Usuarios</h1>
            </div>
            <div class="col-sm-6">
              <div style="height: 25px;"></div>
              <button type="button" class="btn btn-primary pull-right" ng-click="userVm.showEmptyForm()">Nuevo usuario <i class="glyphicon glyphicon-plus"></i></button>
              <div class="input-group">
                <input type="text" ng-model="userVm.searchBox" class="form-control" />
                <span class="input-group-btn">
                  <button type="button" ng-click="userVm.searchUsers()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </div>
          </div>

          <table class="tabla-usuarios table table-condensed table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in userVm.usuarios track by $index" ng-click="userVm.selectUser(user)">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- row -->
      <formulario ng-if="userVm.showForm" usuario="userVm.selectedUser" show-form="userVm.showForm" update-table="userVm.getUserList()"></formulario>
    </div><!-- container -->
